.wrapper {
  display: flex;
  flex-wrap: nowrap;
  margin-top: 32px;
  transition:
    background-color 0.1s ease-in-out,
    color 0.1s ease-in-out;

  [data-theme="light"] & {
    color: $darkGray;
  }

  [data-theme="dark"] & {
    color: $lightGray;
  }

  @media (min-width: $tablet) {
    margin-top: 40px;
  }
}

.pagination {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  gap: 4px;

  li {
    cursor: pointer;
  }
}

/* Страницы пагинации без боковых кнопок */
.pageItem:not(:first-child):not(:last-child) {
  @include paragraph-big-light-16;
  width: 25px;
  height: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;

  &:not(.active):hover {
    @include paragraph-big-medium-16;

    [data-theme="light"] & {
      border-bottom: 1px solid $sGray;
    }

    [data-theme="dark"] & {
      border-bottom: 1px solid $darkGray;
    }
  }
  a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
  }
}

.pageItem:first-child,
.pageItem:last-child {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20px;
  height: 20px;

  [data-theme="light"] & {
    fill: $darkGray;
  }

  [data-theme="dark"] & {
    fill: $lightGray;
  }
  a {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &:hover {
    [data-theme="light"] & {
      background-color: $lightGray;
    }

    [data-theme="dark"] & {
      background-color: $sBlack;
    }
  }
}

.pageItem:first-child {
  margin-right: 20px;
}

.pageItem:last-child {
  margin-left: 20px;
}

/* активная страница пагинации */
.active {
  @include paragraph-big-medium-16;
  cursor: default;

  [data-theme="dark"] & {
    background-color: $sBlack;
  }
  [data-theme="light"] & {
    background-color: rgba(18, 18, 18, 0.05);
  }
}

.breakLable {
  width: 29px;
  height: 24px;
  display: flex;
  justify-content: center;
  align-items: end;
  svg {
    margin-bottom: 7px;
    [data-theme="dark"] & {
      fill: $lightGray;
    }
    [data-theme="light"] & {
      fill: $darkGray;
    }
  }
}
