// Переменные для breakpoints
$desktop: 1440px; // Большие десктопы
$laptop: 1280px; // Ноутбуки и небольшие десктопы
$tablet: 768px; // Планшеты
$mobile: 320px; // Мобильные устройства

.example428 {
    width: 100%;

    @media (max-width: $desktop) {
        width: 90%;
    }

    @media (max-width: $laptop) {
        width: 80%;
    }

    @media (max-width: $tablet) {
        width: 70%;
    }

    @media (max-width: $mobile) {
        width: 100%;
    }
}