@use "nullstyle";
@use "defaultStyles";
@use "variables";
@use "theme";
@use "svg";
@use "fonts";

.wrapper {
    min-height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.container {
    max-width: 1440px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    margin: 0px auto;
    background-repeat: no-repeat;
}
