@use "nullstyle";
@use "defaultStyles";
@use "variables";
@use "svg";
@use "fonts";


* {
    transition: background-color 0.1s ease-in-out, color 0.1s ease-in-out;
}

.wrapper {
    min-height: 100vh;
    overflow: hidden;

    display: flex;
    flex-direction: column;
    align-items: center;
    
    [data-theme="light"] & {
        background-color: $white;
    }
        [data-theme="dark"] & {
        background-color: $black;
    }
}



/* Базовые стили */
.container {
    width: 100%;
    max-width: $desktop;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 24px 20px 100px 20px;
    max-width: 1280px;

    @media (max-width: $desktop) {
        padding: 24px 20px 100px 20px;
        }

    @media (max-width: $tablet) {
        padding: 24px 20px 100px 20px;
    }

    @media (max-width: $mobile) {
        padding: 12px 20px 80px 20px;
    }
}