

.container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 32px;

    width: 100%;
    height: 100vh;
    max-height: 552px;
    max-width: 1240px;
    

    @media (max-width: $tablet) {
        grid-template-columns: 1fr 1fr;
        gap: 24px;

        max-width: $tablet;
        max-height: 708px;
    }

    @media (max-width: $mobile) {
        grid-template-columns: 1fr;
        gap: 20px;

        max-width: $mobile;
        max-height: 1210px;
    }
}