

.wrapper {
    display: flex;
    flex: 1 1 auto;
    justify-content: start;
    align-items: end;

    width: 100%;
    height: 100%;
    max-width: 392px;
    max-height: 260px;

    position: relative;

    @media (max-width: $desktop) {
        max-width: 392px;
        max-height: 260px;
    }

    @media (max-width: $laptop) {
        max-width: 392px;
        max-height: 260px;
    }

    @media (max-width: $tablet) {
        max-width: 352px;
        max-height: 220px;
    }

    @media (max-width: $mobile) {
        max-width: 280px;
        max-height: 185px;
    }
}

.info {
    z-index: 2;

    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 76.5306122449%;
    padding: 20px 0px 20px 20px;

    [data-theme="light"] & {
        color: $black;
        background-color: $white;
    }
    
    [data-theme="dark"] & {
        color: $white;
        background-color: $black;
    }


    @media (max-width: $tablet) {
        gap: 8px;
        padding: 12px 0px 12px 12px;
        width: 92.0454545455%;
    }

    @media (max-width: $mobile) {
        gap: 4px;
        padding: 8px 0px 8px 12px;
        width: 92.8571428571%;
    }
}

.imgContainer {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}