.wrapper {
    position: relative;
}

.searchIcon {
    position: absolute;
    left: 16px;
    top: 8px;
    &[data-theme="light"] {
        fill: $darkGray;
    }
    &[data-theme="dark"] {
        fill: $lightGray;
    }
}

.input {
    width: 336px;
    height: 36px;
    border-radius: 4px;
    padding-left: 48px;

    @media (max-width: $tablet) {
        width: 296px;
        }
    
    @media (max-width: $mobile) {
        width: 224px;
        height: 33px;
        }

    [data-theme="light"] & {
        background-color: $white;
        border: 1px solid $lightGray;
        color: $darkGray;
        
        &:focus {
            border-color: $lightGray;
        }
        
        &::placeholder {
            color: $sGray;
        }
    }

    [data-theme="dark"] & {
        background-color: $sBlack;
        color: $lightGray;
    
        &:focus {
            border: 1px solid $lightGray;
        }
    
        &::placeholder {
            color: $darkGray;
        }
    }
}


