.filterWrapper {
  width: 100%;
  height: 36px;
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-end;
  align-items: flex-end;
  gap: 20px;
  margin-bottom: 20px;
}

.filterBtn {
  width: 36px;
  height: 36px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;

  [data-theme="light"] & {
    background-color: $sWhite;
  }

  [data-theme="dark"] & {
    background-color: $sBlack;
  }
}

.filterBtnIcon {
  [data-theme="dark"] & {
    fill: $lightGray;
  }

  [data-theme="light"] & {
    fill: $darkGray;
  }
}

.pictureList {
  display: grid;
  width: 100%;
  justify-items: center;
  grid-template-columns: 1fr;
  gap: 20px;
  // max-width: $mobile;
  max-height: 1210px;

  margin-bottom: 32px;

  @media (min-width: $tablet) {
    grid-template-columns: 1fr 1fr;
    gap: 24px;

    // max-width: $tablet;
    max-height: 708px;
    margin-bottom: 40px;
  }

  @media (min-width: $laptop) {
    grid-template-columns: 1fr 1fr 1fr;
    gap: 32px;

    max-height: 552px;
    max-width: 1240px;
  }
}
