
.container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    margin: 20px 100px;
    align-items: center;
}

.logoWrapper {
    margin-right: auto;
    width: 91px;
    height: 20px;
    margin-left: 100px;
}

.logoIcon {
 width: 91px;
 height: 20px;
 fill: #DEDEDE;
}

.themeBtnIcon {
    width: 40px;
    height: 40px;
}

@media (max-width: 768px) {
    .logo {
        width: 73px;
        height: 16px;
    }
}

