.container {
  width: 100%;
  max-width: 1240px;
  height: 64px;

  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 24px;

  @media (min-width: $tablet) {
    height: 88px;
    margin-bottom: 44px;
  }

  @media (min-width: $desktop) {
    height: 80px;
  }
}

.logoIcon {
  margin-right: auto;
  width: 91px;
  height: 20px;

  [data-theme="light"] & {
    fill: $darkGray;
    background-color: $white;
  }

  [data-theme="dark"] & {
    fill: $lightGray;
    background-color: $black;
  }

  @media (max-width: $tablet) {
    width: 73px;
    height: 16px;
  }
}

.themeBtnIcon {
  width: 40px;
  height: 40px;
  fill: $white;
}

.themeBtnWrapper {
  background: none;
  width: 40px;
  height: 40px;
}

@media (max-width: 768px) {
  .logo {
    width: 73px;
    height: 16px;
  }
}
