.wrapper {
  position: fixed;
  height: 100vh;
  top: 0;
  right: 0;

  max-width: 87.5%;
  z-index: 3;

  overflow: hidden;
  width: 492px;
  transition:
    transform 0.3s ease,
    width 0.3s ease;
  transform: translateX(0);

  [data-theme="light"] & {
    background-color: $sWhite;
  }

  [data-theme="dark"] & {
    background-color: $black;
  }

  @media (max-width: $tablet) {
    width: 372px;
  }

  @media (max-width: $mobile) {
    width: 280px;
  }
}

// css нижайший класс более приоритетен
.hide {
  transform: translateX(100%);
  transition:
    transform 0.3s ease,
    width 0s ease 0.3s;
}

.container {
  display: flex;
  width: 100%;

  height: 459px;
  flex-direction: column;

  padding: 20px;

  @media (min-width: $tablet) {
    padding: 24px 20px 0px 32px;
    height: 679px;
  }

  @media (min-width: $desktop) {
    padding: 60px 100px 0px 40px;
    height: 643px;
  }
}

.closeIcon {
  width: 20px;
  height: 20px;

  [data-theme="light"] & {
    fill: $darkGray;
  }

  [data-theme="dark"] & {
    fill: $lightGray;
  }
}

.btn {
  margin-left: auto;
  background: none;
  margin-bottom: 84px;

  @media (min-width: $tablet) {
    margin-bottom: 136px;
  }

  @media (min-width: $desktop) {
    height: 100px;
  }
}

.filters {
  display: flex;
  flex-direction: column;
  gap: 32px;
  position: relative;
  z-index: 0;
  // height: 109px;

  @media (min-width: $tablet) {
    // height: 308px;
  }
}

.filters > :nth-child(1) {
  position: relative;
  z-index: 10;
}

.filters > :nth-child(2) {
  position: relative;
  z-index: 5;
}

.filters > :nth-child(3) {
  position: relative;
  z-index: 0;
}

.dateInputik {
  width: 67px !important;

  [data-theme="light"] & {
    border: none !important;
  }
}

.dateInput {
  width: 67px;
  height: 36px;
  padding-left: 16px;
  border-radius: 4px;

  @include paragraph-small-light-12;

  [data-theme="light"] & {
    border-bottom: 1px solid $lightGray;
    background-color: $white;
    color: $darkGray;

    &:focus {
      border-bottom: 1px solid $darkGray;
    }
    &::placeholder {
      color: $sGray;
    }
  }

  [data-theme="dark"] & {
    background-color: $sBlack;
    color: $lightGray;

    &:focus {
      border: 1px solid $lightGray;
    }
    &::placeholder {
      color: $darkGray;
    }
  }

  @media (min-width: $tablet) {
    @include paragraph-base-light-14;
    height: 33px;
  }
}

.bottomButtons {
  @include caption-bold-12-uppercase;

  margin-top: auto;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
}

.ResultBtn {
  text-decoration: underline;
  background: inherit;
  [data-theme="light"] & {
    color: $darkGray;
  }
  [data-theme="dark"] & {
    color: $lightGray;
  }
}

.clearBtn {
  text-decoration: underline;
  background: inherit;

  [data-theme="light"] & {
    color: $darkGray;
  }

  [data-theme="dark"] & {
    color: $lightGray;
  }
}

.onEmpty {
  [data-theme="light"] & {
    color: $sGray;
  }
  [data-theme="dark"] & {
    color: $darkGray;
  }
}

.minusIcon {
  width: 20px;
  height: 20px;

  [data-theme="light"] & {
    fill: $sGray;
  }

  [data-theme="dark"] & {
    fill: $darkGray;
  }
}
