.svg {
    fill: var(--color);
    width: 41px;
    height: 41px;
    padding: 13px;
}

.svg-hover {
    fill: var(--color);
    width: 41px;
    height: 41px;
    padding: 13px;

    &:hover {
        fill: var(--color-hover)
    }
}

.cross {
    fill: var(--fill-svg);
    width: 8px;
    height: 8px;
}

.arrow-top {
    fill: var(--fill-svg);
   
    width: 10px;
    height: 6px;
}

.frame {
    fill: var(--color);
    width: 20px;
    height: 20px;
}