

.wrapper {
    max-width: 320px;
    flex-grow: 1;
    flex-shrink: 1;
    transition: opacity 0.5s ease, transform 0.5s ease, height 0.5s ease;
    display: flex;
    flex-direction: column;
    min-height: 15px;

    @media(min-width: $tablet) {
            min-height: 22px;
        }
    
}

.open {
    

    .filter {
        display: flex;
        z-index: 1;
        max-width: 320px;
        justify-content: flex-start;
        align-items: center;
        gap: 0px 8px;

        margin-top: 24px;

        height: auto;
        opacity: 1;
        transform: translateY(0px);
        visibility: visible;
    }
}

.filter {
    height: 0;
    opacity: 0;
    transform: translateY(-100%);
    visibility: hidden;
    transition: opacity 0.5s ease, transform 0.5s ease, height 0.5s ease;
}

.header {
    display: flex;
    justify-content: space-between;
    
    max-width: 320px;


    [data-theme="light"] & {
        color: $black;
        background-color: $white;
    }
    [data-theme="dark"] & {
        color: $white;
        background-color: $black;
    }
}




.title {
    @include heading-h2;

    @media (min-width: $tablet) {
        @include heading-h1;
    }
}

.headerIcon {
    width: 12px;
    height: 12px;
    
    [data-theme="light"] & {
        fill: $darkGray;
    }
    [data-theme="dark"] & {
        fill: $lightGray;
    }

    @media (min-width: $tablet) {
        width: 20px;
        height: 20px;
    }
}

